{%include 'navbar.html' %}
{%load static%}

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style>
        .about{
         background-image: url("{% static 'img/infu1.jpg' %}");
         height: 100vh;
         background-repeat: no-repeat;        }
    </style>
</head>
<body>

<div class="about">
    <div style="text-align: center; color: white; font-weight: bold;" class="container pt-5">

        <h2 style="color: red">About us</h2>
        <p>
            Our beauty salons in E-11 Markaz, F-10/2 and Chaklala Scheme-III are the perfect locations to visit for skin rejuvenation and beauty treatments. We have been providing beauty salon services since 2008 in Pakistan. During this journey, we worked with almost all kind of skins, hair and nails. This wide extent of period gave us more experience and skill. We are the best at what we do. Our customers rave about our hair cuts, hair styling, facials, nail services and our experienced specialists can boost your inner beauty. Fashions and styles come and go. We intend to be here through them all, giving you the warm, personal attention you deserve. Throughout our locations, our highly trained stylists, beauty therapists and aesthetic technicians each have years of experience in their chosen fields.
            We are a warm friendly beauty salon in Islamabad, offering some of the best hair, beauty and aesthetic treatment in Rawalpindi and Islamabad. Our team pride themselves on delivering the highest technical skills and great customer service every time you visit. Our bridal makep, party makeup, manicure, pedicure, mehndi designs, face treatment and hair cuttingare some of the top treatments and many more of the best quality and latest hair and beauty treatments available today.
        </p>
        <br>
        <footer style="color: red"> © 2020 Royli Salon, Islamabad & Rawalpindi, Pakistan. All Rights Reserved </footer>
    </div>
</div>
</body>
</html>

